/* FOOTER SECTION STARTED */

footer {
    background-color: #165DF5;
    padding: 30px 0px;
    color: #fff;
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-wrapper p {
    font-size: 14px;
    font-weight: 500;
}

.uljon {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 32px;
}

.uljon li a {
    font-size: 14px;
    font: 500px;
    color: #fff !important;
}

/* FOOTER SECTION ENDED */